@{
    ViewBag.Title = "Catalogue";
}
@using Microsoft.AspNet.Identity
@model Bookish.Web.Models.BooksModel

<h2>Catalogue</h2>

@using (Html.BeginForm("Search", "Home", FormMethod.Get))
{
    <fieldset>
        <!-- ?? TODO Fix inputs can be empty -->
        <legend>Search:</legend>
        @Html.TextBoxFor(b => b.InputText, new { @class = "form-control" })
        <input class="btn btn-info btn-margin" type="submit" value="Search" />
    </fieldset>
} 

@Html.ActionLink("Add Book", "NewBookPage", "Home")


<table id="catalogue">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Availability</th>
        <th>Check Out</th>
    </tr>
    @{
        foreach (var book in Model.BookSummaries)
        {
            <tr>
                <td id="title">@book.Value.Title</td>
                <td id ="author">@book.Value.Author</td>
                <td id="availability">@if (book.Value.CopyAvailable)
                    {
                        @: Currently Available
                    }
                    else
                    {
                        @: Next copy will be free on @book.Value.DateFirstCopyComesAvailable
                    }
                </td>
                <td id="check-out">
                    @if (@book.Value.CopyAvailable && User?.Identity.IsAuthenticated == true)
                {
                        @Html.ActionLink("Check Out", "CheckOut", new { isbn = book.Value.ISBN, copyNumber = book.Value.FirstCopyNumberAvailable, userId = User.Identity.GetUserId() })
                    }
                </td>

            </tr>
        }
    }
</table>