@{
    ViewBag.Title = "Catalogue";
}
@using Microsoft.AspNet.Identity
@model Bookish.Web.Models.BooksModel

<h2>Catalogue</h2>

@using (Html.BeginForm("Search", "Home", FormMethod.Get))
{
    <fieldset>
        <!-- ?? TODO Fix inputs can be empty -->
        <legend>Search:</legend>
        @Html.TextBoxFor(b => b.InputText, new { @class = "form-control" })
        <input class="btn btn-info btn-margin" type="submit" value="Search" />
    </fieldset>
} 

@using (Html.BeginForm("AddBook", "Home", FormMethod.Get))
{
    <fieldset>
        <!-- Get book info from ISBN? -->
        <!-- ?? TODO Fix inputs can be empty -->
        <legend>Book Title:</legend>
        @Html.TextBoxFor(b => b.Title, new {@class = "form-control"})
        <legend>Author:</legend>
        @Html.TextBoxFor(b => b.Author, new {@class = "form-control"})
        <legend>Isbn:</legend>
        @Html.TextBoxFor(b => b.Isbn, new {@class = "form-control"})
        <input class="btn btn-info btn-margin" type="submit" value="Add Book"/>
    </fieldset>
}

<ul>
    @{
        foreach (var book in Model.BookSummaries)
        {
            <li>
                @book.Value.Title by @book.Value.Author. @if (book.Value.CopyAvailable)
                                                         {
                                                             @: Currently Available
                                                         }
                                                         else
                                                         {
                                                             @: Currently Unavailable. Next copy will be free on @book.Value.DateFirstCopyComesAvailable
                                                         }
                @if (@book.Value.CopyAvailable && User?.Identity.IsAuthenticated == true)
                {
                    @Html.ActionLink("Check Out", "CheckOut", new { isbn = book.Value.ISBN, copyNumber = book.Value.FirstCopyNumberAvailable, userId = User.Identity.GetUserId() })
                }

            </li>
        }
    }
</ul>